<!-- Error page view -->
<div class="container">
    <h1 class="text-center my-4">Ups</h1>
    <div class="col-md-8 alert bg-secondary m-auto text-center">
        <p>There was be an error</p>
        <a href="/" class="text-white">Please go back home</a>
    </div>
</div>