<h1>Lists of Items</h1>
<ul>
{{#each items}}
    <li>{{name}} - {{description}} - {{price}} €
        <button onclick="addToCart('{{id}}')">Add to cart</button>
    </li>
{{/each}}
</ul>

<a href="/auth/google">Authorize with Google</a>
<a href="/cartList" onclick="goToCart()">Go to my cart</a>
<p onclick="goToCart()">Go to my cart</p>
<button onclick="goToCart()">Cart</button>